body {}
#papago {
    margin: 0 auto;
    /* 가로크기가 화면보다 작은 블록 레이아웃을 가운데로 배치할 때 */
    /* 좌우가 auto값인 이유 : pc ~ mobile 까지 사용자가 접속한 기기에 따라 좌우여백이 다르기 때문에 자동값 사용 */
    background-color: #8DEAE5;
    width: 402px; height: 100vh;
    padding: 20px 15px;
    text-align:center;
    /* yexy-aling 적용한느 정렬대상은 imline 특징이 있어야함. */
    /* text-align : #papago를 가운데로(X) #papago의 자식, 자손을 가운데정렬(O) */
    
}
#papago > * {margin-bottom: 30px;}
#papago > *:nth-child(1) {background-color:aliceblue;}
#papago nav {
    text-align: left;
    display: inline-block;/* 내용(자식)만큼 크기인식 */
}
#papago nav a {
    display: block;/* 부모 너비 100% 자동인식 */
    width: 200px;/* 크기px 고정 시 위 기본 w100%값은 사라짐 */
    margin-bottom: 15px;/* 모든 a 적용 여백 */
}
#papago nav a:nth-child(3) {margin-bottom: 0;}
#papago nav a:nth-child(even) {background-color: bisque;}
#papago main {
    padding: 10px 0;
    background-color:burlywood;
    width: 58px;
    margin: 30px auto;
}
#papago main > * {
    margin-bottom: 20px;
}
#papago main > *:nth-child(odd) {background-color:beige;}
#papago main h1 {}
#papago main h1 a {}
#papago main > a {display: block;}
#papago main > a:nth-child(4) {margin-bottom: 0;}
#papago > a {
    display: inline-block;
    margin-bottom: 0;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 30px;
}