#phone {}
#phone #pay {
    width: 1100px;
    background-color: #eee;
    margin: 15px auto;
}
#phone #pay thead {
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
}
#phone #pay thead tr {
    border-bottom: 2px dashed #888;
}
#phone #pay thead tr th {
    padding: 20px 0;
}
#phone #pay thead tr th img {width: 90px;}
#phone #pay thead tr th em {
    font-size: 0.75rem; color: #777;
    display: block;
}
#phone #pay tbody {}
#phone #pay tbody tr {
    border-bottom: 1px solid #555;
}
#phone #pay tbody tr th {}
#phone #pay tbody tr td {
    text-align: center;
    width: 200px;
}
#phone #pay tr th,
#phone #pay tr td { 
    padding: 15px 0;
}